body{
    background-color: #000000 ;
}
div{
    display:inline-table;
}
h1, h2, p{ color:  #4caf51 ;
    font-family: var(--ff-roboto)
    
}
p{
    font-size: 30px;
}

.contatos{
    text-align: center;
    display: inline-block;
}
img{
     height: 150px;
 
}
